<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>
    <head>
        <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com  https://api.parse.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *">
        <meta name="format-detection" content="telephone=no">
        <meta name="msapplication-tap-highlight" content="no">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
        <link rel="stylesheet" type="text/css" href="../resources/css/fonts.css">
        <link rel="stylesheet" type="text/css" href="../resources/css/base.css">

        <title>The New Seven Wonders of the World</title>
    </head>
    <body>
        <div class="bg">
        </div>

        <div id="initial" class="container column center spaced">
            <div class="logo">
                <h2>THE NEW SEVEN WONDERS</h2>
                <h1>OF THE WORLD</h1>
            </div>
            <div class="flex row justified center">
                <a class="button light" id="loginMenuButton">login</a>
                <a class="button" id="registerMenuButton">register</a>
            </div>
        </div>

        <div id="login" class="container column center form hidden">
            <input id="username" class="slideIn translucent" type="text" placeholder="username"/>
            <input id="password" class="slideIn a100 translucent" type="password" placeholder="password"/>
            <a class="button light slideIn a200 translucent" id="loginButton">login</a>
            <a class="button cancel slideIn a300 translucent">cancel</a>
        </div>

        <div id="register" class="container column center form hidden">
            <input id="reg-name" class="slideIn translucent" type="text" placeholder="name"/>
            <input id="reg-username" class="slideIn a100 translucent" type="text" placeholder="username"/>
            <input id="reg-email" class="slideIn a200 translucent" type="text" placeholder="email"/>
            <input id="reg-password" class="slideIn a300 translucent" type="password" placeholder="password"/>
            <a class="button slideIn a400 translucent" id="registerButton">register</a>
            <a class="button cancel a500 slideIn translucent">cancel</a>
        </div>
        
        <!-- CORDOVA -->
        <script type="text/javascript" src="../cordova.js"></script>

        <!-- PLUGINS -->
        <script type="text/javascript" src="../plugins/FlowManagerPlugin.js"></script>
        <script type="text/javascript" src="../plugins/AlertPlugin.js"></script>
        <script type="text/javascript" src="../plugins/StoragePlugin.js"></script>

        <!-- CONTROLER -->
        <script type="text/javascript" src="../controller/LoginController.js"></script>

        <!-- SERICE -->
        <script type="text/javascript" src="../service/BaseService.js"></script>
        <script type="text/javascript" src="../service/RegisterService.js"></script>
        <script type="text/javascript" src="../service/LoginService.js"></script>


    </body>
</html>
